.header {
    width: 1184px;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.logo-box p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.link-box {
    display: flex;
    align-items: center;
    gap: 28px;
}

.login-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.login-button {
    display: flex;
    gap: 8px;
    padding: 0;
    background-color: var(--background-page-first);
    cursor: pointer;
}

.login-button span {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.registr-button {
    padding: 14px 39px;
    color: var(--background-page-first);
    background-color: var(--text-color);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}