.level-box {
    display: flex;
    gap: 8px;
}

.level-box button {
    border-radius: 35px;
    background-color: var(--background-page-first);
    border: 1px solid rgba(18, 20, 23, 0.2);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.level-box button:first-child {
    background-color: var(--color-secondary);
    border: none;
}