.container {
    width: 438px;
    padding: 54px;
}

.container h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    margin-bottom: 20px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(18, 20, 23, 0.8);
    text-align: left;
    margin-bottom: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 40px;
}



.box input {
    width: 402px;
    padding: 16px 18px;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
}

.password {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.img {
    position: absolute;
    top: 18px;
    right: 18px;
}

.box p {
    color: red;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--text-color);
    width: 438px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background-color: var(--color-primary);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-secondary);
    }
}